<section>
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>
          <a [routerLink]="['./orders']">Orders</a>
        </li>
        <li>
          <a>New Customers</a>
        </li>
        <li>
          <a>Existing Customers</a>
        </li>
        <li>
          <a>
            Orders Delivered
          </a>
        </li>
        <li>
          <a>
            Order Not delivered
          </a>
        </li>
        <li>
          <a>Orders cancelled by customer</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <app-orders *ngIf="router === '/orders'"></app-orders>
    </div>
  </div>
</section>

